@charset "UTF-8";
body {
    background-color: rgb(245, 247, 248);  /*cor de fundo*/
    color: black;
}
p {
    text-align: justify;
    text-indent: 50px;
}

/* Formatação de imagens com legendas */
figure.foto-legenda{
    position: relative; /*posição relativa referente a imagem na página*/
    border: 8px solid white;  /*borda*/
    box-shadow: 1px 1px 4px black; /*sombra*/
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {/*legenda da imagem*/
    opacity: 0; /*oculta a legenda que está em cima da foto*/
    position: absolute; /*posição absoluta referente ao 'PAI' LINHA 12*/
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /*boxer dentro da imagem*/
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{ /*HOVER formatação específica que mostra a legenda com o passar do mouse*/
    opacity: 1; /*exibe a legenda*/
}

/*FORMATAÇÃO DO MENU*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase; /*coloca todo o texto em caixa alta*/
    position: absolute; /*posição dentro de todo o site*/
    top: -20px;
    left: 300px;
}

nav#menu li {
    display: inline-block; /*faz com que um bloco seja exibido na msma linha*/
    background-color: #dddddd;
    padding: 10px;  /*espaço dentro do objeto*/
    margin: 2px;    /*espaço fora do objeto*/
}

nav#menu h1 {
    display: none; /*escondendo o h1*/
}